.App {
  text-align: center;
  display: flex;
  background-color: rgb(172, 173, 178);

  .button-container {
    width: 20%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .button {
      height: 60px;
      width: 160px;
      border-radius: 15px;
      border: none;
      cursor: pointer;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      font-size: 18px;
      color: white;
      padding: 5px;
      &.red {
        background-color: rgb(175, 60, 60);
      }
      &.blue {
        background-color: rgb(45, 42, 139);
      }
      &.orange {
        background-color: rgb(211, 152, 41);
      }
      &.olive {
        background-color: olive;
      }
      &.green {
        background-color: green;
      }
      &.purple {
        background-color: purple;
      }
      &.pink {
        background-color: rgb(213, 123, 138);
      }
    }
  }

  .sq-container {
    width: 80%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }

  .sq {
    gap: 20px;
    height: 150px;
    width: 180px;
    color: black;
    border: 2px solid rgb(121, 142, 212);
    border-radius: 5px;
    font-size: 24px;
    padding-top: 10px;
  }
}

.btn-small {
  height: 30px;
  width: 60px;
  border-radius: 15px;
  border: 1px solid gray;
  cursor: pointer;
  font-size: 14px;
  color: red;
  padding: 5px;
}

.spin {
  animation: App-logo-spin infinite 20s linear;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
